@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 226, 226, 226, 0.9;
    --background-end-rgb: 201, 214, 255, 0.7;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  box-sizing: border-box;
  font-family: "Monospace", cursive;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
